<!-- templates/registration/password_change.html -->
{% extends 'base.html' %}

{% block title %}修改密码{% endblock %}

{% block content %}
    <div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h3 class="card-title">密码修改</h3>
            </div>
            <div class="card-body">
                <form method="post">
                <div class="mb-3">
                                <label  class="form-label" >当前登录的账号为：{{ user.username }}</label>
                </div>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.help_text %}
                                <div class="form-text">{{ field.help_text|safe }}</div>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    
                    <button type="submit" class="btn btn-primary w-100">修改密码</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}