<!-- templates/shares/share_detail.html -->
{% extends 'base.html' %}

{% block title %}{{ work.title|default:"未命名作品" }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h3 class="card-title">{{ work.title|default:"未命名作品" }}</h3>
            </div>
            <div class="card-body">
                <div class="watermark">
                    <img src="{{ work.image.url }}" class="card-img-top" alt="{{ work.title }}" style="max-width: 100%; height: auto;">
                </div>
                <div class="mt-3">
                    <h5>摄影师：</h5>
                    {{ work.photographer|default:"未知摄影师" }}
                </div>
                <div class="mt-3">
                    <h5>作品描述：</h5>
                    <p>{{ work.description|default:"无描述" }}</p>
                </div>
                <div class="mt-3">
                    <h5>拍摄日期：</h5>
                    <p>{{ work.shot_date|default:"未知日期" }}</p>
                </div>
                <div class="mt-3">
                    <h5>相机型号：</h5>
                    <p>{{ work.camera_model|default:"未知型号" }}</p>
                </div>
                <div class="mt-3">
                    <h5>ISO：</h5>
                    <p>{{ work.iso|default:"未知iso" }}</p>
                </div>
                <div class="mt-3">
                    <h5>快门速度：</h5>
                    <p>{{ work.shutter_speed|default:"未知快门速度" }}</p>
                </div>
                <div class="mt-3">
                    <h5>光圈：</h5>
                    <p>{{ work.aperture|default:"未知光圈" }}</p>
                </div>
                <div class="mt-3">
                    <h5>焦段：</h5>
                    <p>{{ work.lens_mm|default:"未知焦段" }}</p>
                </div>
                <div class="mt-3">
                    <h5>作品分类：</h5>
                    <ul>
                        {% for category in work.categories.all %}
                            <li>{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="mt-3">
                    <h5>公开状态：</h5>
                    <p>{% if work.is_public %}公开显示{% else %}不公开显示{% endif %}</p>
                </div>
            </div>
            <div class="card-footer">
                {% if request.user == share_link.created_by or request.user == user.is_superuser %}
                    <a href="{% url 'shares:cancel_share' share_link.share_code %}" class="btn btn-outline-warning">取消分享</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}